*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    position: absolute;
    width: 75%;
    height: 550px;
    background: url(h.jpg);
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    border-radius: 10px;
    margin-top: 20px;

}

.container .content {
    width: 58%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    padding-left: 40px;
    
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.content .logo{
    font-size: 30px;
}

.text-sci h2{
    font-size: 40px;
    line-height: 1;
}
.text-sci span {
    font-size: 25px;
}
.text-sci p{
    font-size: 16px;
    margin: 20px  0;
    width: 80%;
}
.social-icons a i {
    font-size: 16px;
    color: aliceblue;
    margin-right: 10px;
    transition: .5s ease;
}
.social-icons a:hover i{
    transform: scale(1.2);
    color: blueviolet;
} 
.container .logreg-box {
    width:42%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
}
.logreg-box .form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    border-bottom-right-radius: 10px;
    color: aliceblue;
}
.form-box h2{
    font-size: 32px;
    text-align: center;
}
.form-box .input-box{
    width: 340px;
    height: 50px;
    border-bottom: 2px solid aliceblue;
    margin: 30px 0;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: aliceblue;
    font-weight: 500;
    padding-right: 28px;
    text-indent: 18%;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
    padding-left: 50px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}
.form-box .remember-forgot{
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}
.remember-forgot label input{
    accent-color:aliceblue ;
    margin-right: 3px;
}
.remember-forgot a{
    color: aliceblue;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.form-box form .btn{
    width: 100%;
    height: 45px;
    background: rgb(187, 79, 187);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: aliceblue;
    font-weight: 500;
    box-shadow: 0 0 10px rgb(27, 25, 25);
}
.form-box .login-register{
    font-size: 14.5px;
    text-align: center;
    font-weight: 500;
    margin-top: 25px;
}
.login-register p a{
    color: aliceblue;
    font-weight: 600;
    text-decoration: none;
}
.login-register p a:hover{
    text-decoration: underline;
}